body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #333333;
    color: #ffffff;
}

.modal-content {
    background-color: #333333;
    color: #ffffff;
}

.carousel-item img {
    height: 50vh;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


/* Estilos responsive */
@media (max-width: 576px) {
    .col- {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .col-sm- {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .col-md- {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}